body{
    font-family: 'Courier New', Courier, monospace;
    background-color: gray;
    width: 50%;
    margin-left: 30%;
    color: white;
}
header{
    text-align: center;
}
footer{
    text-align: center;
  padding: 3px;
  background-color: rosybrown;
}
img{
    width: 80%;
}
a {
    display: inline-block;
    padding: 20px;
    background-color:red;
  }
  nav,ul,li{
      float: left;
  }
  